<div class="site-footer--col site-footer--categories-nav site-footer--col__visible">
    <a href="#" class="site-footer--back js-footer-back"><svg aria-hidden="true" class="svg-icon iconArrowLeftAlt" width="18" height="18" viewBox="0 0 18 18"><path d="M10.58 16L12 14.59 6.4 9 12 3.41 10.57 2l-7 7z"/></svg></a>
    <div>
        <h5 class="-title"><a href="https://stackexchange.com">Stack Exchange<br> Network</a></h5>
        <ul class="-list">
            <li class="-item"><a href="#" class="-link _expandable js-footer-category-trigger js-gps-track" data-gps-track="footer.click({ location: 4, link: 24 })" data-target="Technology">Technology</a></li>
            <li class="-item"><a href="#" class="-link _expandable js-footer-category-trigger js-gps-track" data-gps-track="footer.click({ location: 4, link: 24 })" data-target="Life / Arts">Life / Arts</a></li>
            <li class="-item"><a href="#" class="-link _expandable js-footer-category-trigger js-gps-track" data-gps-track="footer.click({ location: 4, link: 24 })" data-target="Culture / Recreation">Culture / Recreation</a></li>
            <li class="-item"><a href="#" class="-link _expandable js-footer-category-trigger js-gps-track" data-gps-track="footer.click({ location: 4, link: 24 })" data-target="Science">Science</a></li>
            <li class="-item"><a href="#" class="-link _expandable js-footer-category-trigger js-gps-track" data-gps-track="footer.click({ location: 4, link: 24 })" data-target="Other">Other</a></li>

        </ul>
    </div>
</div>